/* Heading */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  background-color: #111;
  font-family: "Montserrat";
}

.title {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
}

h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  line-height: .75;
  margin: 10px 0;
}

/* Buttons */
.bn32 {
    border-color: #9c9c9c;
    padding: 0.6em 2.3em;
    cursor: pointer;
    font-size: 1em;
    color: #111111;
    background-image: linear-gradient(45deg, transparent 50%, #111111 50%);
    background-position: 25%;
    background-size: 400%;
    -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
    border-radius: 5px;
  }
  
  .bn32:hover {
    color: #9c9c9c;
    background-position: 100%;
  }

/* Font */
.font{
    color: #9c9c9c;
}

input {
    width: 100px;
    margin-right: 10px;
}