html{
    min-height: 100%;
}

body{
    font-family: Poppins, sans-serif;
}

.main {
    height: 100vh;
    width: 100%;
    font-size: x-large;
    background: #ffb947;
}

/* image */
#bang{
    height: 5em;
    width: 4.5em;
    cursor: url(bang-cursor.png), auto;
}
#dong{
    height: 5em;
    width: 5em;
    cursor: url(dong-cursor.png), auto;
}
#nine{
    height: 5em;
    width: 5em;
    cursor: url(nine-cursor.png), auto;
}
#miu{
    height: 5em;
    width: 5em;
    cursor: url(miu-cursor.png), auto;
}
#chi{
    height: 5em;
    width: 5em;
    cursor: url(chi-cursor.png), auto;
}
.main div img:hover{
    transform: translateY(-10px);
}

#video-container {
    background-size: cover;
    /* width: 100vw; */
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-position: 50% 50%;
    z-index: -100;
}
.background{

    background-image: linear-gradient(180deg, hsla(0, 0%, 97.3%, 0.6), #f8f8f8);
}
.ps {
font-size: 6px;
}
.text-center{
    font-family: monospace;
}
.chi-cursor{
    cursor: url(chi-cursor.png), auto;
}
.miu-cursor{
    cursor: url(miu-cursor.png), auto;
}
.nine-cursor{
    cursor: url(nine-cursor.png), auto;
}
.dong-cursor{
    cursor: url(dong-cursor.png), auto;  
}
.bang-cursor{
    cursor: url(bang-cursor.png), auto;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
}
.icon:hover{
    color:#12b5ad;
}


.child{
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bounce:hover{

    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0%   { transform: translateX(0); }
    33%  { transform: translateX(10px); }
    66%  { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }

.nav-item {
    font-family: Poppins, sans-serif;
}

.navbar-nav > li > .dropdown-menu { 
    background-color: transparent; 
    font-family: Poppins, sans-serif;
}

.navbar-nav > li > .dropdown-menu a{ 
    color: black;
 }

.navbar-nav > li > .dropdown-menu a:hover { 
    background-color: white;
    transition: 0.4s background-color ease-in-out;
    color: #12b5ad;
 }
 .caption-slogan {
    border-top: 3px white solid;
    border-bottom: 3px white solid;
    font-size: 36px;
    font-family: monospace;
    text-align: center;
  }

  .caption-slogan-main{
      font-size: 24px;
  }

  .location{
    font-size: 16px;
  }

  .about-me {
      height: 1.5em;
      background-color: rgba(18, 181, 173, 0.8);
      font-size: 36px;
  }
  .about-me h1{
      font-family: monospace;
      color: white;
  }
  p{
      font-size: 24px;
  }
  .back-to-top{
    height: 2em;
    width: 2em;
    background-color: #12b5ad;
    border-radius: 100%;
    font-size: 1.5em;
    color: white;
  }
.arrow{
    bottom: 20px;
    right: 20px;
}
.arrow a:link{
    text-decoration: none;
}

.semi-transparent {
    background: rgba(18, 181, 173, 0.8);
  }

#footer {
    height: 1em;
    background-color: rgba(18, 181, 173, 0.8);
    bottom: 0;
}

#footer h1{
    font-size: 12px;
    color: white;
}

.whole {
    height: 450px;
}

.next {
    height: 650px;
}

.pets {
    height: 975px;
}

.last {
    box-sizing: border-box;
}

.card-text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
}

.card {
    border: 1px solid rgba(18, 181, 173, 0.125);
    margin: 2px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
