  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .row {
    display: flex;
  }
  .space-between {
    justify-content: space-between;
  }
  .center {
    justify-content: center;
  }
  .blue {
    color: #4686f2;
  }
  .icon {
    font-size: 1.5em;
  }
  .icon-small {
    font-size: 1em;
  }
  .box {
    box-shadow: 0px 4px 8px #888888;
    margin: 8px;
    width: 250px;
    padding: 8px;
    border-radius: 8px;
  }
  .box.highlight {
    border-bottom: 3px solid #1bbcab;
  }
  .board-container {
    background-color: #1bbcab;
    padding: 16px;
  }
  .cell {
    background-color: #1bbcab;
    width: 80px;
    height: 80px;
    font-size: 2em;
    font-family: Arial;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  button {
    background-color: white;
    border: 0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    color: #20bebc;
  }
  .grey {
    color: #747474;
  }
  .card {
    border-radius: 1em;
    border: 1px solid lightgrey;
  }
  .padding {
    padding: 1em;
  }
  .board {
    background-color: #15a091;
  }
  .space {
    width: 7px;
    height: 7px;
    display: inline-block;
  }
  .white {
    color: white;
  }
  #box-1{
      
  }