<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link rel="stylesheet" href="WEF004.css">

<div class="card">
  <div class="row space-between padding grey">
    <div><i class="fas fa-caret-down"></i> Medium</div>
    <div><i class="fas fa-share-alt blue icon" title="Share Button"></i></div>
  </div>

  <div class="row center">
    <div class="box highlight row space-between">
      <i class="fas fa-times icon"></i> <span class="grey times-win">-</span>
    </div>
    <div class="box row space-between">
      <i class="far fa-circle icon"></i> <span class="grey circle-win">-</span>
    </div>
  </div>

  <div class="row center padding">
    <div id="turn"><i class="fas fa-times icon-small"></i> Turn</div>
  </div>

  <div class="row center board-container">
    <div class="board">
      <div class="row">
        <div class="cell box-text" id="1"></i></div>
        <div class="space"></div>
        <div class="cell box-text" id="2"></div>
        <div class="space"></div>
        <div class="cell box-text" id="3"></div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="cell box-text" id="4"></div>
        <div class="space"></div>
        <div class="cell box-text" id="5"></div>
        <div class="space"></div>
        <div class="cell box-text" id="6"></div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="cell box-text" id="7"></div>
        <div class="space"></div>
        <div class="cell box-text" id="8"></i></div>
        <div class="space"></div>
        <div class="cell box-text" id="9"></div>
      </div>
    </div>
  </div>

  <div class="row center">
    <button>restart game</button>
  </div>
</div>
<script src="WEF004.js">  
</script>
